body {
  background-color: var(--black);
  color: var(--white);
}
#smooth_content {
  background-color: var(--black);
}
.header_lines .line {
  background-color: var(--white);
}
.m_links .dm_link:hover span{
  color: var(--black) !important;
}
.alphamark_nav.dark * {
  color: var(--white) !important;
}
.alphamark_nav.dark .new_menu-link::before {
  background-color: var(--white) !important;
}
.margin_from_nav {
    height: 20vh;
}
.headline_section {
  height: 55vh;
}
@media(max-width: 992px) {
  .headline_section {
    height: 25vh;
  }
}
.pp_content p{
  font-size: var(--fs22);
  line-height: 1.22;
  letter-spacing: 0;
  color: var(--mono_3-lighter);
}
.pp_content li {
  font-size: var(--fs22);
  line-height: 1.22;
  letter-spacing: 0;
  color: var(--mono_3-lighter);
}
.pp_content li {
  list-style-type: square;
}
.pp_content h3:first-child {
  margin-top: 0;
}
.pp_content h3 {
  font-weight: var(--medium);
  font-size: var(--fs22) !important;
  line-height: 1.22;
  letter-spacing: 0;
  margin-top: 64px;
  margin-bottom: 16px;
}
.pp_content a {
  color: var(--white);
}
.pp_content a:hover{
  color: var(--alphamark_yellow);
  text-decoration: none;
}

@media(max-width: 992px) {
  .first_details-row {
    row-gap: 16px;
  }
  .pp_content {
    margin-top: 32px;
  }
  .mobile_menu-content {
    background-color: var(--white);
  }
  .m_m-content {
    background-color: var(--black);
  }
  .m_m-content * {
    color: var(--white);
  }
  .dm_link:before {
    color: var(--white);
  }
  .m_links .dm_link {
    border-color: var(--white);
  }
  .dm_main-links .dm_link-wrap:last-child a {
    border-bottom: 1px solid var(--white);
  }
}
.header_lines.dm .line {
  background-color: var(--black) !important;
}
.header_lines.dm_bottom .line {
  background-color: var(--black) !important;
}
.desktop_menu {
  color: var(--white);
  background-color: var(--white);
}
.d_m-content {
  background-color: var(--black);
}
.logo_paths.dm {
  fill: var(--white) !important;
}
.dm_link {
  color: var(--white);
  border-color: var(--white);
}
.dm_link.last {
  border-color: var(--white);
}
.news_section {
  padding: 0px;
}
.dm_link:before {
  color: var(--white);
}
.dm_link:hover {
  background-color: var(--white);
}
.dm_link:hover::before {
  color: var(--black);
}
.dm_links a {
  color: var(--white);
}
.dm_links a::before {
  background-color: var(--white) !important;
}
.dm_link:hover .dm_link-scramble *{
  color: var(--black) !important;
}
.dm_links a:hover .dm_top-link-scramble * {
  color: var(--alphamark_yellow);
}
.dm_s-links a {
  color: var(--white);
}
.dm_s-links a:hover {
  color: var(--alphamark_yellow);
}
.dm_s-links a:hover svg>rect {
  fill: var(--alphamark_yellow);
}
.new_menu-link {
  color: var(--white) !important;
}
.new_menu-title {
  color: var(--white);
}
.m_m-line {
  background-color: var(--white);
}
.alphamark_nav.dark .new_menu-link::before {
  background-color: var(--white) !important;
}